---
layout: master
---
<div class="hfeed">
{{#paginator.posts}}
  <div class="hentry summarized">
    <h2 class="entry-title"><a href="{{url}}">{{title}}</a></h2>
    <div class="entry-meta"><p><a href="{{fullUrl}}" rel="bookmark" title="permalink to '{{title}}'">#</a> by <span class="vcard author"><a class="url fn" href="{{author.url}}">{{author.name}}</a></span> on <abbr class="published" title="{{date.year}}-{{date.month}}-{{date.day}}">{{friendlyDate}}</abbr></p></div>
    <div class="entry-summary">{{{summary}}}</div>
    <div class="entry-readmore"><a href="{{url}}">Read more...</a></div>
  </div>
{{/paginator.posts}}
</div>

<hr />

{{#paginator.pagination}}
<div class="pagination">
  <ul>
    <li class="previous{{^previousPageUrl}} disabled{{/previousPageUrl}}"><a href="{{previousPageUrl}}">&larr; Newer</a></li>
    {{#pages}}
    <li{{#active}} class="active"{{/active}}><a href="{{url}}">{{number}}</a></li>
    {{/pages}}
    <li class="next{{^nextPageUrl}} disabled{{/nextPageUrl}}"><a href="{{nextPageUrl}}">Older &rarr;</a></li>
  </ul>
</div>
{{/paginator.pagination}}
